:root {
  --header-height: 3rem;

  --box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);

  /*========== Colors ==========*/
  --first-color: #069C54;
  --first-color-alt: #048654;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #A6A6A6;
  --body-color: #FBFEFD;
  --container-color: #FFFFFF;

  --top-bar-size: 2.5rem;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 0.75rem;
  --mb-3: 1rem;
  --mb-4: 1.5rem;
  --mb-5: 2rem;
  --mb-6: 2.5rem;
  --mb-7: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --top-bar-size: 5rem;
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box
}

body {
  background: var(--body-color);
}

/* General Style */
.heading {
  font-size: var(--biggest-font-size);
  color: var(--first-color);
}

.sub-heading {
  font-size: var(--h2-font-size);
  color: var(--text-color);
}
.sub-sub-heading {
  font-size: var(--h3-font-size);
  color: var(--first-color-alt);
}

.def-button {
  height: fit-content;
  width: fit-content;
  margin: var(--mb-3) 0;
  padding: var(--mb-2) var(--mb-3);
  background: var(--first-color);
  border-radius: 8px;
  border: none;
  color: white;
}


header {
  width: 100vw;
  height: var(--top-bar-size);
  display: flex;
}

header > a {
  background: white;
  display: block;
  margin: auto var(--mb-2) auto auto;
  color: var(--first-color);
}


nav {
  background: var(--body-color);
  position: fixed;
  display: none;
  height: 30vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}


section {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.section-home>article {
  width: 90vw;
}

.section-home>img {
  max-height: 90vw;
  max-width :90vw;
  min-height: 20vw;
  min-width: 20vw;
}

.section-about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100vw;
  flex-flow: column-reverse;
}

.section-about-us>article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin: var(--mb-7) var(--mb-3);
  text-align: center;
}

.section-about-us>article>p, .section-about-us>h2, .section-about-us>article>h3 {
  margin: 16px 0;
}

.section-about-us>img {
  height: 85vw;
  width :85vw;
  border-radius: 16px
}